@model IEnumerable<PluralSightMVC.Models.ResturantReview>

@{
    ViewBag.Title = "Index";
}

@section featured
{
    We are showing the latest @Model.Count() reviews    
}

<h2>The Latest Reviews</h2>



<p>
    @Html.ActionLink("Create New", "Create")
</p>

@foreach (var item in Model)
{
    @Html.Partial("_Review", item)
}



